{% extends "frontend/layout/base.html" %}

{% block title %}About{% endblock %}

{% block style %}
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #0047ab, #824ac9);
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-image-box {
        background-color: rgba(160, 159, 159, 0.8); /* Adjust transparency */
        width: 100%;
        max-width: 100%; 
        text-align: center;
    }

    .about-text-box {
        background-color: rgba(250, 246, 246, 0.8); /* Adjust transparency */
        padding: 20px;
        width: 100%; 
        max-width: 100%; 
        text-align: center;
    }

    .about-image {
        width: auto;          /* Allow width to adjust automatically */
        height: 400px;       /* Set a fixed height for the image */
        max-width: 100%;     /* Ensure the image doesn’t exceed the container width */
        object-fit: cover;   /* Ensure the image covers the area while maintaining its aspect ratio */
    }

    .about-text-box h3 {
        font-family: 'Playfair Display', cursive;
        font-size: 48px;
        margin-bottom: 20px;
        color: #0317f4;
    }

    .about-text-box p {
        font-size: 18px;
        line-height: 1.6;
        color: #000000;
        margin-bottom: 10px;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        .about-image-box, .about-text-box {
            padding: 10px;
        }

        .about-text-box h3 {
            font-size: 36px;
        }

        .about-text-box p {
            font-size: 16px;
        }

        .about-image {
            height: auto; /* Change height to auto for smaller screens */
        }
    }
{% endblock %}

{% block content %}
<section id="about" class="container my-5">
    <h2 class="text-center mb-2">Who I Am</h2>
    <div class="about-image-box">
        <img src="/static/images/IMG_20221012_162855-min.png" alt="Developer" class="about-image img-fluid">
    </div>
    
    <div class="about-text-box">
        <h3>Welcome!</h3>
        <p>
            I’m a website designer, developer, and graphic designer passionate about creating visually stunning and functional digital experiences. I specialize in building responsive websites and crafting compelling graphics for various platforms. With a focus on user-friendly design and creative storytelling, I bring both technical expertise and artistic flair to every project. Let’s bring your vision to life!
        </p>
    </div>
</section>
{% endblock %}
